/*mobile first*/

/*reset y font*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'VT323', monospace;    
}

/*colores*/
.yellow-neon {
    color: #FFFFFF;
    text-shadow: 0 0 8px #d9ff00, 0 0 2px #d9ff00, 0 0 10px #d9ff00, 0 0 6px #fbfbfb, 0 0 15px #d9ff00;
}

.white-neon {
    color: rgb(21, 250, 0);
    text-shadow: 0 0 8px #ffffff, 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 6px #ffffff, 0 0 20px ;
}

/*CON MENU CERRADO*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
}

/*NAV*/
/*MOBILE*/
nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
    z-index: 1;
    top: 0;
}

nav #burger-menu-toggler{
    background-color: transparent;
    color: rgba(0,213,21,255);
    margin-right: 10%; 
    font-size: 0.8em;  
    z-index: 2; 
}

nav #close-mobile-menu {
    display: none;
}

nav #open-mobile-menu {
    display: block;
}

nav #menu{
    display: none;
}


nav #menu-desktop {
    display: none;
    justify-content: space-around;
    font-size: 2em;
    width: 100%;
}

nav #menu-desktop li a{
    color: white;
    text-shadow: 0 0 8px #ffffff, 0 0 2px #ffffff;
}

nav #menu-desktop li a:hover{
    text-shadow: 0 0 8px #70ff4c, 0 0 2px #51fb51;
}

/*MAIN */

main {
    height: 100vh;
}

main .page{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    padding-top: 80px;
    padding-bottom: 60px; 
 
}
/* main .colorPage1{
    background-color: rgb(226, 226, 226);
} */
main .colorPage2 {
    background-color: rgb(0, 0, 0) ;
}
main .title {
    color: rgba(0,213,21,255);
    padding: 0 10%;;
    
}
main .title  h1{     
    
    font-size: 3em;
    letter-spacing: 2px;
    display: inline-block;
    transform: scaleY(0.7);
    transform-Origin: 0 0;
    
}
main .title p {
    font-size: 1.2em;
}

/*HOME*/

#home .title h1 {
    font-size: 6em;
}
#home {
    justify-content:space-around;
}
#home figure {
    display: flex;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
}
#home img {
    width: 60%;
    background-color: transparent;
}

/*ABOUT*/
#about {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#about .body-page{
    color: rgba(0,213,21,255);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .title{
    text-shadow: 0 0 3px #8f8f8f;
}

#about .body-page p.first{
    font-size: 1em;
    margin-bottom: 5%;
}

#about .body-page p.second{
    font-size: 1.5em;
    margin-bottom: 2%;
}
#about .skills {
    height: 70%;
    margin-bottom: 7%;
}

#about .skills i{
    font-size: 2.2em;
    margin: 3% 5%;
    color: white;
    text-shadow: 0 0 5px #64ff45;
}

/*PROJECTS*/

#projects .title{
    text-shadow: 0 0 3px #000000;
}

#projects .project-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   height: 80%;
}

#projects .project-list .project-item{
    font-size: 1em;
    background-color: black;
    padding: 5%;
    margin: 5%;
    display: flex;
    align-items: center;
}

#projects .project-list .project-item a{
    color: rgba(0,213,21,255);
}


/*CV*/
#cv .title{
    text-shadow: 0 0 3px #8f8f8f;
}
#cv figure img {
    width: 80%;
    height: auto;
}

/*CONTACT*/

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#contact .title{
    text-shadow: 0 0 3px #000000;
}

#contact .body-page{
    text-align: left;
    width: 80%;
}

#contact .contact-links li{
    margin-bottom:2.5%;
    font-size: 1.1em;
    }

#contact .field{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    padding: 2% 0;
}

#contact .field input {
    font-size: 0.8em;
    height: 30px;
    padding: 2%;
    background-color: black;
    color: rgba(0,213,21,255);
}

#contact .field input::placeholder{
    color: rgba(0,213,21,255);
    opacity: 70%;
}

#contact .field textarea{
    padding: 3%;
    font-size: 1em;
    background-color: black;
    color: rgba(0,213,21,255);
}

#contact .field textarea::placeholder{
    color: rgba(0,213,21,255);
    opacity: 70%;
}

#contact .btn{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

#contact .btn input{
    background-color: black;
    height: 30%;
    width: 40%;
    color: rgba(0,213,21,255);
    font-size: 1.5em;
    border: 0.5px solid rgba(0,213,21,255);
    border-radius: 15px;
}




/*FOOTER*/
footer {
    width: 100%;
    bottom: 0;
    height: 7%;
    position: fixed;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    }

footer .icon {
    color: rgba(0,213,21,255);
    font-size: 1.8em;   
}




/*MENU MOBILE ACTIVATE*/

body.mobile-menu-active {
    overflow: hidden;
}

body.mobile-menu-active main {
   opacity: 25%;   
}


body.mobile-menu-active #close-mobile-menu{
    display: block;
}

body.mobile-menu-active  #open-mobile-menu{
    display: none;
}

body.mobile-menu-active #menu {       
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20%;
    top: 0;
    left: 0;
    z-index: 1;    
}


body.mobile-menu-active nav li {
    background-color: rgb(50, 255, 31);
    text-align: center;
    font-size: 2.3em;
    padding: 4%;
    margin: 2% 3%;    
}

body.mobile-menu-active a {
    color: white;
}

body.mobile-menu-active a:hover{
    font-size: 1.2em;

}

/*BREAK POINTS*/



@media (min-width: 640px){
    /*nav*/
    nav #burger-menu-toggler {
        display:none;
    }
    nav #menu{
        display: none;
    }

    nav #menu-desktop {
        display: flex;
    }  
    
    main .title  h1{
        font-size: 4.2em;
    }
    /*home*/
    #home p {
        font-size: 1.5em;
    }
    /*about*/
    #about .body-page p.first {
        font-size: 1.3em;
    }

    #about .body-page p.second {
        font-size: 1.7em;
        margin-bottom: 3%;
    }
    #about .skills {
        height: 70%;

    }
    
    #about .skills i{
        font-size: 4em;
        margin: 3% 5%;
        color: white;
        text-shadow: 0 0 5px #64ff45;
    }
    /*projects*/
    
    #projects .project-list .project-item{
        font-size: 1.5em;
    }

    /*cv*/
    #cv figure{
        width: 70%;
    }
    /*contact*/

    #contact .contact-links li{
        font-size: 1.4em;
    }    
    #contact .field{
        font-size: 1.6em;
        padding: 2% 0;
    }
    #contact .field input {
        font-size: 1em;
        height: 40px;
        padding: 3%;
    }
    #contact .btn{
        margin-top: 2%;
    }
    #contact .btn input{
        height: 20%;
        width: 30%;
        font-size: 1.5em;
        }
    /*footer*/
    footer .icon {
        font-size: 2em;   
    }    
}
     
@media (min-width: 900px){
     
    nav #menu-desktop {
        font-size: 2.6em;
    }

    /*HOME*/
    #home {
        justify-content: center;
    }
    #home .title h1 {
        font-size: 8em;
    }

    #home .title p {
        font-size: 2.3em;
    }

    #home img {
        width: 70%;
        height: auto;
    }
    /*about*/
    #about .body-page p.first {
        font-size: 1.6em;
    }

    #about .body-page p.second {
        font-size: 2em;
    }    
    #about .skills i{
        font-size: 5.5em;
    }
    /*contact*/

    #contact .contact-links li{
        font-size: 2em;
    }    
    #contact .field{
        font-size: 2em;
    }

    #contact .field input {
        font-size: 1em;
        height: 40px;
        padding: 3%;
    }
    #contact .btn{
        margin-top: 2%;
    }
    #contact .btn input{
        height: 18%;
        width: 25%;
        font-size: 1.5em;
    }
    /*footer*/
    footer .icon {
        font-size: 3em;   
    }    

}
     
@media (min-width: 1800px){
     

     
    }


